:root {
  --primary-color: purple;
  --light-grey: #f4f4f4;
  --dark-text: #333;
  --border-color:#ccc;
  --white:#ffffff;
  --nav-background:#eee
}

h1 {
  color: var(--primary-color);
  text-align: center;
}

body{
    font-family: "Roboto",sans-serif;
    padding: 20px;
    background-color: var(--light-grey);
}

.highlight{
    font-weight: bold;
}

a{
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover{
    text-decoration: underline;
}

nav{
    display: flex;
    gap: 20px;
    align-items: center;
    height: 50px;
    background-color: var(--nav-background);
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li{
    padding: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--white);
    flex-basis: 150px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.profile-container{
    display: flex;
    gap: 40px;
}

@media (max-width: 600px){
    .profile-container{
        flex-direction: column;
    }
}

footer{
    background-color: var(--dark-text);
    color: var(--white);
    text-align: center;
    padding: 20px 0;
}

.project-layout{
    display: flex;
}

.project-main{
    flex: 1;

}

.container{
    max-width: 960px;
    margin: 0 auto;
}

li:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.project-sidebar{
    background-color: var(--white);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0;
    flex-basis: 200px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
}

footer ul{
    list-style-type: none;
    padding: 0px;
}

footer a{
    color: var(--dark-text);
}

.btn{
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
}